<div class="header">
  <div class="marca">
    <h1><span class="negro">Gula</span><span class="rojo">Gourmet</span></h1>
  </div>
  <div class="nav">
    <h1>Sobre nosotros</h1>
    <h1>Galeria</h1>
    <button class="button">Menu</button>
  </div>
</div>

<div class="container">
  <div class="caja1">
    <h2 class="lema"><span class="negro">¿ESTÁS</span><span class="rojo"> SOLO EN CASA</span><span class="negro"> Y CON HAMBRE?</span></h2>
    <p>Bienvenido a GulaGourmet, tu pasaporte digital a un mundo de exquisitez culinaria. </p>
    <div class="container_busca">
      <input type="text" class="buscador" placeholder=" Pollo a la braza...">
      <button class="lupa">
        <mat-icon class="mat-18">search</mat-icon>
      </button>
    </div>
  </div>
  <div class="caja2">
    <div class="caja_rota">
      <div class="capsule capsule1">
        <div class="image-container">
          <img src="../../assets/img/salchipapas.jpg" alt="Imagen">
        </div>
      </div>
      <div class="capsule capsule2">
        <div class="image-container image-container2">
          <img class="pollo" src="../../assets/img/pollo a la brasa.png" alt="Imagen">
        </div>
      </div>
      <div class="capsule capsule1">
        <div class="image-container image-container3">
          <img src="../../assets/img/hamburguesa1.avif" alt="Imagen">
        </div>
      </div>
    </div>    
  </div>
</div>